/* Master Styles */

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
}

*:focus{
	outline: none;
}

my-app {
	display: block;
	margin: 0 auto;
	width: 980px;
}

my-app .wrapper {
	background: #f3f3f3;
	margin-top: 20px;
	padding: 20px;
	border-radius: 3px;
}

body, input[text], button {
  color: #888;
}

::-webkit-input-placeholder {
  color: lightgray;
  font-weight: 200;
}

ul {
  margin: 0;
  padding: 0;  
  list-style-type: none;
}

ul.options{
  margin: 10px 0;
}

ul.options li input{
  margin-right: 10px;
}


select,
textarea,
input[type="text"] {
	vertical-align: middle;
  width: 300px;
  height: 30px;
  font-size: 20px;
  padding: 0px 5px;
  border: 0;
  border-radius: 3px;
  background-color: #fff;
}
textarea:focus,
select:focus,
input[type="text"]:focus{
	background-color: #a4e5ff;
	outline: none;
	color: #3953a2;
}
select {
	width: 200px;
}
textarea{
	height: 200;
	padding: 10px;
}
input[type="checkbox"],
input[type="radio"]{
	position: relative;
	display: inline-block;
	-webkit-appearance: none;
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

input[type="checkbox"]:before,
input[type="radio"]:before{
	content:'';
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 100%;
}

input[type="checkbox"]:before{
	border-radius: 3px;
}

input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before{
	background-color: #a4e5ff;
	border: 5px solid #fff;
	box-sizing: border-box;
}

button {
  font-weight: 200;
  vertical-align: middle;
  font-size: 20px;
  padding: 5px 10px;
  border: 0;
  border-radius: 3px;
  color: #3953a2;
  background-color: #a4e5ff;
}

a {
  color: #3953a2;
  text-decoration: none;
}
a:hover {
 text-decoration: underline; 
}

button:hover{
  color: #fff;
}

button:active{
  color: gray;
  background-color: #fff;
}

.sections + button {
  background-color: lightgray;
  color: #fff;
}
.sections + button:hover {
  background-color: gray;
}

.sections + button:active {
  background-color: white;
  color: gray;  
} 

form-section{
  display: block;
  border: 5px solid #fff;
  padding: 30px;
  margin-bottom: 10px;
  overflow: hidden;
}

form-section section + button{
  float: right;
  background-color: #fdc0c0;
  color: #fff;
}

form-section section + button:hover {
  background-color: #f59393;
}
